# CIV1499 - Introduction to Data Science
# Project 2 - Toronto Bike Share 
## Cleanning

In [20]:
# Import 3rd party libraries
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt
from datetime import datetime
import scipy.stats as stats
import geopy.distance

# Bike Share Trip Data

In [2]:
# Create a list of file names for bike share trips data
trips_filenames2017 = [filename for filename in os.listdir() if 'bike_share_2017' in filename]
trips_filenames2018 = [filename for filename in os.listdir() if 'bike_share_2018' in filename]
trips_filenames2019 = [filename for filename in os.listdir() if 'bike_share_2019' in filename]
trips_filenames2020 = [filename for filename in os.listdir() if 'bike_share_2020' in filename]
trips_filenames2020.remove('bike_share_2020-11.csv')
trips_filenames2020.remove('bike_share_2020-12.csv')
trips_filenames2020pt2 = ['bike_share_2020-11.csv','bike_share_2020-12.csv']
trips_filenames2021 = [filename for filename in os.listdir() if 'bike_share_2021' in filename]

trips_data_2017 =pd.concat([pd.read_csv(fname) for fname in trips_filenames2017],axis=0,ignore_index= True)
trips_data_2018 =pd.concat([pd.read_csv(fname) for fname in trips_filenames2018],axis=0,ignore_index= True)
trips_data2019 =pd.concat([pd.read_csv(fname) for fname in trips_filenames2019],axis=0,ignore_index= True)
trips_data2021 =pd.concat([pd.read_csv(fname) for fname in trips_filenames2021],axis=0,ignore_index= True)
trips_data2020pt1 =pd.concat([pd.read_csv(fname) for fname in trips_filenames2020],axis=0,ignore_index= True)
trips_data2020pt2 =pd.concat([pd.read_csv(fname) for fname in trips_filenames2020pt2],axis=0,ignore_index= True)

trips_data_2017.columns = [' '.join(col.split()) for col in trips_data_2017.columns]
trips_data_2018.columns = [' '.join(col.split()) for col in trips_data_2018.columns]
trips_data2019.columns = [' '.join(col.split()) for col in trips_data2019.columns]
trips_data2020pt1.columns = [' '.join(col.split()) for col in trips_data2020pt1.columns]
trips_data2020pt2.columns = [' '.join(col.split()) for col in trips_data2020pt2.columns]
trips_data2021.columns = [' '.join(col.split()) for col in trips_data2021.columns]

In [3]:
trips_data_2017['trip_start_time'] = pd.DatetimeIndex(pd.to_datetime(trips_data_2017['trip_start_time'],format="%Y-%m-%d %H:%M (%Z)"))
trips_data_2017['trip_stop_time'] = pd.DatetimeIndex(pd.to_datetime(trips_data_2017['trip_stop_time'],format="%Y-%m-%d %H:%M (%Z)"))
trips_data_2018['trip_start_time'] = pd.DatetimeIndex(pd.to_datetime(trips_data_2018['trip_start_time'],format="%Y-%m-%d %H:%M (%Z)"))
trips_data_2018['trip_stop_time'] = pd.DatetimeIndex(pd.to_datetime(trips_data_2018['trip_stop_time'],format="%Y-%m-%d %H:%M (%Z)"))
trips_data_2018['trip_start_time'] = trips_data_2018['trip_start_time'].dt.tz_convert('EST')
trips_data_2018['trip_stop_time'] = trips_data_2018['trip_stop_time'].dt.tz_convert('EST')
trips_data_2017['trip_start_time'] = trips_data_2017['trip_start_time'].dt.tz_convert('EST')
trips_data_2017['trip_stop_time'] = trips_data_2017['trip_stop_time'].dt.tz_convert('EST')

In [4]:
trips_data2019['Start Time'] = pd.DatetimeIndex(pd.to_datetime(trips_data2019['Start Time'],format="%d/%m/%Y %H:%M:%S (%Z)"))
trips_data2019['End Time'] = pd.DatetimeIndex(pd.to_datetime(trips_data2019['End Time'],format="%d/%m/%Y %H:%M:%S (%Z)"))
trips_data2020pt1['Start Time'] = pd.DatetimeIndex(pd.to_datetime(trips_data2020pt1['Start Time'],format="%d/%m/%Y %H:%M:%S (%Z)"))
trips_data2020pt1['End Time'] = pd.DatetimeIndex(pd.to_datetime(trips_data2020pt1['End Time'],format="%d/%m/%Y %H:%M:%S (%Z)"))
trips_data2020pt2['Start Time'] = pd.DatetimeIndex(pd.to_datetime(trips_data2020pt2['Start Time'],format="%d/%m/%Y %H:%M:%S (%Z)"))
trips_data2020pt2['End Time'] = pd.DatetimeIndex(pd.to_datetime(trips_data2020pt2['End Time'],format="%d/%m/%Y %H:%M:%S (%Z)"))
trips_data2021['Start Time'] = pd.DatetimeIndex(pd.to_datetime(trips_data2021['Start Time'],format="%d/%m/%Y %H:%M:%S (%Z)"))
trips_data2021['End Time'] = pd.DatetimeIndex(pd.to_datetime(trips_data2021['End Time'],format="%d/%m/%Y %H:%M:%S (%Z)"))

In [5]:
trips_data_2017 = trips_data_2017.rename(columns={'trip_id': 'Trip Id',
                                                'trip_start_time': 'Start Time',
                                                'trip_stop_time': 'End Time', 
                                                'trip_duration_seconds': 'Trip Duration',
                                                'from_station_id': 'Start Station Id', 
                                                'from_station_name': 'Start Station Name', 
                                                'to_station_id': 'End Station Id', 
                                                'to_station_name': 'End Station Name', 
                                                'user_type': 'User Type'})

trips_data_2018 = trips_data_2018.rename(columns={'trip_id': 'Trip Id',
                                                'trip_start_time': 'Start Time',
                                                'trip_stop_time': 'End Time', 
                                                'trip_duration_seconds': 'Trip Duration',
                                                'from_station_id': 'Start Station Id', 
                                                'from_station_name': 'Start Station Name', 
                                                'to_station_id': 'End Station Id', 
                                                'to_station_name': 'End Station Name', 
                                                'user_type': 'User Type'})

In [6]:
df = pd.concat([trips_data_2017,trips_data_2018, trips_data2019,trips_data2020pt1,trips_data2020pt2,trips_data2021])
df = df.drop(columns=['ï»¿Trip Id','Subscription Id','Bike Id'])

In [8]:
df=df.replace('Member','Annual Member')
df=df.replace('Casual','Casual Member')

In [11]:
from scipy import stats
df.dropna()
df = df[(np.abs(stats.zscore(stats.zscore(df['Trip Duration']))) < 3)]

In [12]:
#df.to_csv('combined_data.csv', index=False)

In [13]:
df.head()

,Trip Id,Start Time,End Time,Trip Duration,Start Station Id,Start Station Name,End Station Id,End Station Name,User Type
0,712441.0,2017-01-01 00:03:00-05:00,2017-01-01 00:08:00-05:00,274,7006.0,Bay St / College St (East Side),7021.0,Bay St / Albert St,Annual Member
1,712442.0,2017-01-01 00:03:00-05:00,2017-01-01 00:12:00-05:00,538,7046.0,Niagara St / Richmond St W,7147.0,King St W / Fraser Ave,Annual Member
2,712443.0,2017-01-01 00:05:00-05:00,2017-01-01 00:22:00-05:00,992,7048.0,Front St / Yonge St (Hockey Hall of Fame),7089.0,Church St / Wood St,Annual Member
3,712444.0,2017-01-01 00:09:00-05:00,2017-01-01 00:26:00-05:00,1005,7177.0,East Liberty St / Pirandello St,7202.0,Queen St W / York St (City Hall),Annual Member
4,712445.0,2017-01-01 00:14:00-05:00,2017-01-01 00:25:00-05:00,645,7203.0,Bathurst St / Queens Quay W,7010.0,King St W / Spadina Ave,Annual Member

In [15]:
start_stations = pd.read_csv('bikeshare_stations.csv')
start_stations = start_stations.rename(columns={"name": "Start Station Name", "lat": "Start_Lat", "lon": "Start_Lon"})
end_stations = pd.read_csv('bikeshare_stations.csv')
end_stations = end_stations.rename(columns={"name": "End Station Name", "lat": "End_Lat", "lon": "End_Lon"})

In [16]:
df = pd.merge(df, start_stations, on='Start Station Name')
df = pd.merge(df, end_stations, on='End Station Name')
df.head()

,Trip Id,Start Time,End Time,Trip Duration,Start Station Id,Start Station Name,End Station Id,End Station Name,User Type,station_id_x,Start_Lat,Start_Lon,station_id_y,End_Lat,End_Lon
0,712441.0,2017-01-01 00:03:00-05:00,2017-01-01 00:08:00-05:00,274,7006.0,Bay St / College St (East Side),7021.0,Bay St / Albert St,Annual Member,7006,43.660439,-79.385525,7021,43.653264,-79.382458
1,717862.0,2017-01-05 18:06:00-05:00,2017-01-05 18:11:00-05:00,252,7006.0,Bay St / College St (East Side),7021.0,Bay St / Albert St,Annual Member,7006,43.660439,-79.385525,7021,43.653264,-79.382458
2,719500.0,2017-01-06 18:46:00-05:00,2017-01-06 18:50:00-05:00,241,7006.0,Bay St / College St (East Side),7021.0,Bay St / Albert St,Annual Member,7006,43.660439,-79.385525,7021,43.653264,-79.382458
3,722310.0,2017-01-09 19:17:00-05:00,2017-01-09 19:21:00-05:00,262,7006.0,Bay St / College St (East Side),7021.0,Bay St / Albert St,Annual Member,7006,43.660439,-79.385525,7021,43.653264,-79.382458
4,723078.0,2017-01-10 17:37:00-05:00,2017-01-10 17:42:00-05:00,285,7006.0,Bay St / College St (East Side),7021.0,Bay St / Albert St,Annual Member,7006,43.660439,-79.385525,7021,43.653264,-79.382458

In [17]:
df = df.drop(columns=['station_id_x', 'station_id_y'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10173316 entries, 0 to 10173315
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   Trip Id             float64
 1   Start Time          datetime64[ns, EST]
 2   End Time            datetime64[ns, EST]
 3   Trip Duration       int64
 4   Start Station Id    float64
 5   Start Station Name  object
 6   End Station Id      float64
 7   End Station Name    object
 8   User Type           object
 9   Start_Lat           float64
 10  Start_Lon           float64
 11  End_Lat             float64
 12  End_Lon             float64
dtypes: datetime64[ns, EST](2), float64(7), int64(1), object(3)
memory usage: 1.1+ GB

In [18]:
def calc_distance(lat_from, lon_from, lat_to, lon_to):
    coords_1 = (lat_from, lon_from)
    coords_2 = (lat_to, lon_to)
    distance = geopy.distance.distance(coords_1, coords_2).m
    
    return distance

In [21]:
df['Distance'] = df.apply(lambda x: calc_distance(x['Start_Lat'],x['Start_Lon'],x['End_Lat'],x['End_Lon']),axis=1)

In [22]:
df.to_csv('trips_with_coordinates_distance.csv', index=False)

In [126]:
df= pd.read_csv('trips_with_coordinates_distance.csv')
df['Start Time'] = pd.DatetimeIndex(pd.to_datetime(df['Start Time']))
df['End Time'] = pd.DatetimeIndex(pd.to_datetime(df['End Time']))

# Weather Data

In [127]:
weather_filenames =[filename for filename in os.listdir() if filename.find('6158359') != -1]
weather_data =pd.concat([pd.read_csv(fname) for fname in weather_filenames],axis=0,ignore_index= True)

In [128]:
weather_data.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Time,Temp (°C),...,Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather,Date/Time (LST),Time (LST),Precip. Amount (mm),Precip. Amount Flag
0,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 00:00,2017,1,1,00:00,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 01:00,2017,1,1,01:00,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 02:00,2017,1,1,02:00,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 03:00,2017,1,1,03:00,1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 04:00,2017,1,1,04:00,1.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
#Percentage of Data Containing Null Record
weather_data_missing = pd.DataFrame(weather_data.isnull().sum())
weather_data_missing = weather_data_missing.rename(columns={0:"count"})
weather_data_missing['percent_nulldata']=round(weather_data_missing['count']/weather_data.shape[0] * 100,1)

print("")
print('The number of data records in the data frame is:' ,weather_data.shape[0])

weather_data_missing

The number of data records in the data frame is: 43824

                     count  percent_nulldata
Longitude (x)            0               0.0
Latitude (y)             0               0.0
Station Name             0               0.0
Climate ID               0               0.0
Date/Time             8760              20.0
Year                     0               0.0
Month                    0               0.0
Day                      0               0.0
Time                  8760              20.0
Temp (°C)              149               0.3
Temp Flag            43723              99.8
Dew Point Temp (°C)    224               0.5
Dew Point Temp Flag  43647              99.6
Rel Hum (%)            211               0.5
Rel Hum Flag         43660              99.6
Wind Dir (10s deg)    2531               5.8
Wind Dir Flag        42499              97.0
Wind Spd (km/h)         69               0.2
Wind Spd Flag        43802              99.9
Visibility (km)         71               0.2
Visibility Flag      43800              99.9
Stn Press (kPa)        152               0.3
Stn Press Flag       43719              99.8
Hmdx                 36704              83.8
Hmdx Flag            43824             100.0
Wind Chill           36253              82.7
Wind Chill Flag      43824             100.0
Weather              37057              84.6
Date/Time (LST)      35064              80.0
Time (LST)           35064              80.0
Precip. Amount (mm)  34334              78.3
Precip. Amount Flag  43824             100.0

In [130]:
#for time
weather_data['Date/Time'].fillna(weather_data['Date/Time (LST)'],inplace=True)
weather_data['Time'].fillna(weather_data['Time (LST)'],inplace=True)

In [131]:
#for weather 
weather_data['Weather'].unique().tolist() # only bad weather

[nan,
 'Fog',
 'Rain,Fog',
 'Rain',
 'Snow',
 'Moderate Rain',
 'Moderate Rain,Fog',
 'Haze',
 'Rain,Snow',
 'Freezing Rain,Fog',
 'Snow,Blowing Snow',
 'Heavy Snow',
 'Moderate Snow',
 'Haze,Blowing Snow',
 'Heavy Rain,Fog',
 'Thunderstorms,Rain,Fog',
 'Freezing Rain,Snow',
 'Freezing Rain',
 'Thunderstorms,Rain',
 'Thunderstorms,Moderate Rain,Fog',
 'Thunderstorms,Moderate Rain',
 'Thunderstorms',
 'Thunderstorms,Heavy Rain,Fog',
 'Thunderstorms,Heavy Rain',
 'Thunderstorms,Fog']

In [132]:
#Drop list of features that have a nan description na_column<20
na_column = ['Temp Flag','Dew Point Temp Flag','Rel Hum Flag','Wind Dir Flag', 'Wind Spd Flag', 
             'Visibility Flag', 'Stn Press Flag', 'Hmdx','Hmdx Flag','Wind Chill','Wind Chill Flag','Date/Time (LST)','Time (LST)'
            ,'Precip. Amount (mm)','Precip. Amount Flag']
weather_data = weather_data.drop(columns = na_column)
weather_data['Weather'] =weather_data['Weather'].fillna('sunny_day')

In [133]:
weather_data.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Time,Temp (°C),Dew Point Temp (°C),Rel Hum (%),Wind Dir (10s deg),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 00:00,2017,1,1,00:00,1.5,-3.6,69.0,26.0,39.0,16.1,99.81,sunny_day
1,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 01:00,2017,1,1,01:00,1.5,-3.9,67.0,27.0,35.0,16.1,100.01,sunny_day
2,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 02:00,2017,1,1,02:00,1.0,-4.3,68.0,26.0,32.0,16.1,100.14,sunny_day
3,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 03:00,2017,1,1,03:00,1.2,-4.3,67.0,26.0,37.0,16.1,100.32,sunny_day
4,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 04:00,2017,1,1,04:00,1.3,-4.4,66.0,26.0,28.0,16.1,100.48,sunny_day

In [134]:
weather_data = weather_data.set_index(pd.DatetimeIndex(weather_data['Date/Time']))
weather_data.index = weather_data.index.tz_localize(tz='EST')
weather_data.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Time,Temp (°C),Dew Point Temp (°C),Rel Hum (%),Wind Dir (10s deg),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
Date/Time,,,,,,,,,,,,,,,,,
2017-01-01 00:00:00-05:00,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 00:00,2017,1,1,00:00,1.5,-3.6,69.0,26.0,39.0,16.1,99.81,sunny_day
2017-01-01 01:00:00-05:00,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 01:00,2017,1,1,01:00,1.5,-3.9,67.0,27.0,35.0,16.1,100.01,sunny_day
2017-01-01 02:00:00-05:00,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 02:00,2017,1,1,02:00,1.0,-4.3,68.0,26.0,32.0,16.1,100.14,sunny_day
2017-01-01 03:00:00-05:00,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 03:00,2017,1,1,03:00,1.2,-4.3,67.0,26.0,37.0,16.1,100.32,sunny_day
2017-01-01 04:00:00-05:00,-79.4,43.63,TORONTO CITY CENTRE,6158359,2017-01-01 04:00,2017,1,1,04:00,1.3,-4.4,66.0,26.0,28.0,16.1,100.48,sunny_day

In [135]:
weather_data_missing = pd.DataFrame(weather_data.isnull().sum())
weather_data_missing = weather_data_missing.rename(columns={0:"count"})
weather_data_missing['percent_nulldata']=round(weather_data_missing['count']/weather_data.shape[0] * 100,1)

print("")
print('The number of data records in the data frame is:' ,weather_data.shape[0])

weather_data_missing

The number of data records in the data frame is: 43824

                     count  percent_nulldata
Longitude (x)            0               0.0
Latitude (y)             0               0.0
Station Name             0               0.0
Climate ID               0               0.0
Date/Time                0               0.0
Year                     0               0.0
Month                    0               0.0
Day                      0               0.0
Time                     0               0.0
Temp (°C)              149               0.3
Dew Point Temp (°C)    224               0.5
Rel Hum (%)            211               0.5
Wind Dir (10s deg)    2531               5.8
Wind Spd (km/h)         69               0.2
Visibility (km)         71               0.2
Stn Press (kPa)        152               0.3
Weather                  0               0.0

Merge

In [148]:
df['merge_time']=df['Start Time'].dt.round('H')
df_data_merged = pd.merge(df, weather_data, left_on='merge_time', right_index=True, how='left')
df_data_merged.set_index('Trip Id', inplace = True)

In [149]:
df_data_merged.head() # no 2016 weather data

,Start Time,End Time,Trip Duration,Start Station Id,Start Station Name,End Station Id,End Station Name,User Type,Start_Lat,Start_Lon,...,Day,Time,Temp (°C),Dew Point Temp (°C),Rel Hum (%),Wind Dir (10s deg),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
Trip Id,,,,,,,,,,,,,,,,,,,,,
712441.0,2017-01-01 00:03:00-05:00,2017-01-01 00:08:00-05:00,274,7006.0,Bay St / College St (East Side),7021.0,Bay St / Albert St,Annual Member,43.660439,-79.385525,...,1.0,00:00,1.5,-3.6,69.0,26.0,39.0,16.1,99.81,sunny_day
717862.0,2017-01-05 18:06:00-05:00,2017-01-05 18:11:00-05:00,252,7006.0,Bay St / College St (East Side),7021.0,Bay St / Albert St,Annual Member,43.660439,-79.385525,...,5.0,18:00,-6.8,-12.9,62.0,27.0,30.0,16.1,100.21,sunny_day
719500.0,2017-01-06 18:46:00-05:00,2017-01-06 18:50:00-05:00,241,7006.0,Bay St / College St (East Side),7021.0,Bay St / Albert St,Annual Member,43.660439,-79.385525,...,6.0,19:00,-9.3,-16.9,55.0,29.0,17.0,16.1,101.48,sunny_day
722310.0,2017-01-09 19:17:00-05:00,2017-01-09 19:21:00-05:00,262,7006.0,Bay St / College St (East Side),7021.0,Bay St / Albert St,Annual Member,43.660439,-79.385525,...,9.0,19:00,-2.6,-7.9,67.0,24.0,28.0,16.1,101.91,sunny_day
723078.0,2017-01-10 17:37:00-05:00,2017-01-10 17:42:00-05:00,285,7006.0,Bay St / College St (East Side),7021.0,Bay St / Albert St,Annual Member,43.660439,-79.385525,...,10.0,18:00,3.2,2.3,94.0,16.0,21.0,11.3,99.70,Moderate Rain

In [150]:
df_data_merged.to_csv('trips_with_coordinates_distance_weather.csv', index=False)

# Station Data

In [155]:
# Set stations data path

# Import stations
stations = pd.read_csv('bikeshare_stations.csv')

# View DataFrame
stations.head()

   station_id                          name        lat        lon
0        7000  Fort York  Blvd / Capreol Ct  43.639832 -79.395954
1        7001     Wellesley Station Green P  43.664964 -79.383550
2        7002    St. George St / Bloor St W  43.667333 -79.399429
3        7003      Madison Ave / Bloor St W  43.667158 -79.402761
4        7004       University Ave / Elm St  43.656518 -79.389099